<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nous Contacter</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Contactez-nous</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/services">Nos services</a></li>
            <li><a href="/contact">Nous contacter</a></li>
        </ul>
    </nav>
    <section>
        <h2>Prêts pour l'aventure ?</h2>
        <p>Si vous avez des questions ou souhaitez discuter de votre prochaine expérience d'aventure, n'hésitez pas à nous contacter :</p>
        <ul>
            <li>Email : contact@aventurextreme.com</li>
            <li>Téléphone : 123-456-7890</li>
            <li>Adresse : 123 Rue de l'Aventure, Imesouane</li>
        </ul>
    </section>
    <div class="logo-frame">
        <div class="text-side text-top">ADVENTURE & Co.</div>
        <div class="text-side text-right">ADVENTURE & Co.</div>
        <div class="text-side text-bottom">ADVENTURE & Co.</div>
        <div class="text-side text-left">ADVENTURE & Co.</div>
        <img src="/images/alex-shuper-SNliMkZHVig-unsplash (1).jpg" alt="Logo">
    </div>
    
</body>
</html>
